{% extends "dept_base.html" %}

{% block title %}Camisetas{% endblock title %}

{% block deptname%}Camisetas{% endblock deptname%}
{% block img%} 
            <!--<img src="static\images\bio.jpg" class="card-img-top" alt="...">-->
{% endblock img%}


{% block content %} 
{% if current_user.is_authenticated and current_user.rol == 'admin' %}
        

<div class="accordion " id="accordionExample">
    <!--1-->
    <div class="jumbotron  text-center">
        <h1 class="display-4">Productos </h1>
    </div> 
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="btn btn-outline-info accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
Productos            </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div class="jumbotron text-center">
                <a href="/nuevo_producto"><button class="btn btn-outline-secondary"><i class="fa-solid fa-plus fa-fade"></i> Añadir Producto </button></a>
                <hr class="my-4">
            </div>
            <table class="table table-striped caption-top">
                <thead class="table">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Referencia</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for c in producto %}
                    
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ c[0]}}</td>
                        <td>{{ c[1] }}</td>
                        <td>{{ c[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100%" align='center'>
                            {{ producto|length }} Productos
                        </td>
                    </tr>
                </tfoot>
            </table>            </div>
      </div>
    </div>
    <hr class="my-4">

    <!--2-->

    <div class="jumbotron text-center">
        <h1 class="display-4">Empleados </h1>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="btn btn-outline-info accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
Empleados            </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div class="jumbotron text-center">
                <a href="/nuevo_producto"><button class="btn btn-outline-secondary"><i class="fa-solid fa-plus fa-fade"></i> Añadir Producto </button></a>
                <hr class="my-4">
            </div>
            <table class="table table-striped caption-top">
                <thead class="table">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">N° de Identificación</th>
                        <th scope="col">Nombres y Apellidos</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for i in empleado %}
                    
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ i[0]}}</td>
                        <td>{{ i[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100%" align='center'>
                            {{ empleado|length }} Empleados
                        </td>
                    </tr>
                </tfoot>
            </table>            </div>
      </div>
    </div>
    <hr class="my-4">




 <!--3-->
    <div class="jumbotron text-center">
        <h1 class="display-4">Clientes </h1>

    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="btn btn-outline-info accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
Clientes            </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <table class="table table-striped caption-top">
                <thead class="table">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">N° de Identificación</th>
                        <th scope="col">Nombres y Apellidos</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for i in cliente %}
                    
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ i[0]}}</td>
                        <td>{{ i[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100%" align='center'>
                            {{ cliente|length }} Clientes
                        </td>
                    </tr>
                </tfoot>
            </table>            </div>
      </div>
    </div>
    <hr class="my-4">













</div>
{% endif %}
{% endblock content %} 